@font-face{
    font-family: 'Iner-Light';
    font-size: xx-large;
    src: url(/assets/fonts/Inter-Light.ttf);
}

@font-face{
    font-family: 'Iner-Regular';
    font-size: xx-large;
    src: url(/assets/fonts/Inter-Regular.ttf);
}

@font-face{
    font-family: 'Iner-Bold';
    font-size: xx-large;
    src: url(/assets/fonts/Inter-Bold.ttf);
}

@font-face{
    font-family: 'Iner-SemiBold';
    font-size: xx-large;
    src: url(/assets/fonts/Inter-SemiBold.ttf);
}


