/* After Header */

body{
    background-color: #f7f7f7;
}

.text-main-h1, h1{
    margin-top: 100px;
    font-family: 'Iner-Bold';
    font-size: 50px;
    color: #101130;
}

.texth1-university{
    margin-top: 200px;
    font-family: 'Iner-Bold';
    font-size: 50px;
    color: #101130;
}

.text-main-p, p{
    font-family: 'Iner-Regular';
    font-size: 18px;
    text-align: left;
    max-width: 447px;
    margin-top: 35px;
    color: #606176;
}

.textp-university, p{
    font-family: 'Iner-Regular';
    font-size: 18px;
    text-align: left;
    margin-top: auto;
    color: #606176;
}

.university{
    position: absolute;
    right: 14rem;
    top: 55rem;
    max-width: 50%;
}




.btn-main{
    background-color: #F77E53;
    color: #fff;
    border: none;
    font-family: 'Iner-Light';
    position: relative;
    display: block;
    border-radius: 12px;
    top: 15px;
    width: 200px;
    height: 60px;
    left: 0;
}

.boy{
    /* imagem boy */
    position: absolute;
    max-width: 50%;
    top: 145px;
    right: 10rem;
}

.imgcardinfo{
    /* imagens informações */
    position: absolute;
    max-width: 45%;
    top: 19rem;
    right: 25px;
}




/* media query */

@media screen and (max-width: 414px) {
    .text-main-h1, h1{
        font-size: 35px;
    }
    .btn-main{
        width: 150px;
        height: 50px;
    }
}

@media (max-width: 768px) {

    .imgbox{
        display: flex;
        width: 100%;
    
    }
    .imgcardinfo{
        position:absolute;
        max-width: 285px;
        top: 40rem;
        
    }
    .texth1-university{
        position: absolute;
        top: 45rem;
        left: 50px;
        right: 50px;
    }
    .textp-university{
        position: absolute;
        top: 67rem;
        left: 50px;
        right: 50px;
    }
}





@media (max-width: 991px){
    .boy{
        display: none;
    } 
}

@media (min-width: 992px){
    .imgcardinfo{
        display: none;
    } 
}

@media (max-width: 991px){
    .university{
        position: absolute;
        right: 25px;
    } 
}

@media (max-width: 768px){
    .university{
        position: absolute;
        max-width: 80%;
        right: 135px;
        left: 50px;
        top: 72rem;
    }
}

@media (max-width: 485px){
    .university{
        display: none;
    }
}

@media (min-width: 485px){
    .university2Mobile{
        display: none;
    }
}

@media (max-width: 300px){
    .university2Mobile{
        display: none;
    }
}


@media (max-width: 484px){
  
    .university2Mobile{
        position: absolute;
        top: 72rem;
        right: 50px;
        left: 50px;
    }
}





