.sectionOne{
    width: 100%;
    position: absolute;
    top: 70rem;
    left: 15rem;
}
.itemsschool{
    display: flex;
    width: 100%;
    position: absolute;
    padding: 25px;
    list-style: none;
    top: 8em;
    left: 35em;
}

.itemsschool li{
    padding: 20px;
}

.itemsschool .item1{
    position: absolute;
    top: 1.5em;
}
.itemsschool.item1, h3{
    margin-top: 22px;
}

.itemsschool .item2{
    position: absolute;
    top: 1.5em;
    left: 35em;
}
.itemsschool.item2, h3{
    margin-top: 22px;
}

.itemsschool .item3{
    position: absolute;
    top: 20em;
    left: 35em;
}
.itemsschool.item3, h3{
    margin-top: 22px;
}

.itemsschool .item4{
    position: absolute;
    top: 20em;  
}
.itemsschool.item4, h3{
    margin-top: 22px;
}


.texth1-sectionOne{
    position: absolute;
    left: 38em;
    bottom: 32em;
}